<div class="main-index">
  <div class="banner-title">
    <img src="" alt="">
    <p>We take care of your dogs bla blu bli</p>
  </div>
  <div class="dogs-container">
    <div class="dogs-cards">
      <div class="dog-card">
      <img src="https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445" alt="">
      <div class="dog-name">Name</div>
      <div class="dog-address">Address</div>
      </div>
      <div class="dog-card">
      <img src="https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445" alt="">
      </div>
      <div class="dog-card">
      <img src="https://www.cdc.gov/healthypets/images/pets/cute-dog-headshot.jpg?_=42445" alt="">
      </div>
    </div>
  </div>
</div>
