<div class="chat">
      <div class="chat-header clearfix">
          <% if current_user %>
      <%= link_to "#", class: "dashboard-icon" do %>
        <% if current_dog.id != nil %>
          <%= cl_image_tag current_dog.photo.key, class: "avatar", alt: "avatar-large" %>
        <% else %>
          <%= image_tag(('MaDLogo.png'), :class => "avatar-logo") %>
        <% end %>
      <% end %>
    <% end %>

        <div class="chat-about">
          <div class="chat-with">Chat with Lola's owner, Chiara</div>
          <div class="chat-num-messages">You matched on November the 30th!</div>
        </div>
      </div> <!-- end chat-header -->

      <div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Me</span> <i class="fa fa-circle me"></i>

            </div>
            <div class="message other-message float-right">
              Hey Chiara,<br> just wanted to text you ASAP! <br> We matched our dogs!<br>
            </div>
          </li>

          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Chiara</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Hey Marco! I couldn't help but immediatly match your Fiona, she has beautiful eyes!
            </div>
          </li>
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message here!" rows="3"></textarea>


      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->
