<div class="chat">
      <div class="chat-header clearfix">
          <% if current_user %>
      <%= link_to "#", class: "dashboard-icon" do %>
        <% if current_dog.id != nil %>
          <%= image_tag 'https://avatars.githubusercontent.com/u/90670859?v=4', class: "avatar", alt: "avatar-large" %>
          <%= image_tag 'https://images.unsplash.com/photo-1575904210356-3075648bafb4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80', class: "avatar d", alt: "avatar-large" %>
        <% else %>
          <%= image_tag(('MaDLogo.png'), :class => "avatar-logo") %>
        <% end %>
      <% end %>
    <% end %>

        <div class="chat-about">
          <div class="chat-with">Chat with Dax's owner, Salvo</div>
          <div class="chat-num-messages">You matched on December the 3rd!</div>
        </div>
      </div> <!-- end chat-header -->

      <div class="chat-history">
        <ul>
          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >Me</span> <i class="fa fa-circle me"></i>

            </div>
            <div class="message other-message float-right">
              Hey Salvo,<br> just wanted to text you ASAP! <br> We matched our dogs!<br>
            </div>
          </li>

          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Salvo</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Hey Marco! I couldn't help but immediatly match your Fiona, she has beautiful eyes!
            </div>
          </li>
      <div class="chat-message clearfix">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message here!" rows="3"></textarea>


      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->
