// Define variables for your color scheme

// For example:
$red: rgba(230, 83, 122, 0.747);
$green: #55D1C2;
$blue: #BEC7ED;
$light-blue: #F0F3FF;
$yellow: rgba(243, 191, 93, 0.712);
$orange: #E67E22;
$gray: #606060;
$light-gray: #F4F4F4;
$black: #303030;
