.pending_matches {
  margin-top: 15px;
  padding-bottom: 50px;
}

.card_pending {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-shadow: #d1d1d1 1px 1px 4px;
  border-radius: 10px;
  margin: 15px 0;
  background-color: white;
  align-items: center;
  color: #303030;
  width: 100%;
}

.buttons_matches_container {
  display: flex;
  justify-content: space-between;
  i {
    font-size: 30px;
  }
}

.dogs_avatars_match {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
  object-position: center;
}

.matched_avatar_dog {
  position: absolute;
  left: 19%;
}

.matching_avatar_dog {
  position: absolute;
  left: 19%;
}

.status_container_matches {
  margin-right: 40px;
  p {
    border: 1px solid ;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: x-large;
  }
  p.pending {
    border-color: $yellow;
    background-color: $yellow;
    width: 127px;
    text-align: center;
  }
  p.accepted {
    border-color: $green;
    background-color: $green;
    width: 127px;
    text-align: center;
  }
  p.denied {
    border-color: $red;
    background-color: $red;
    width: 127px;
    text-align: center;
  }
}


.icon-match {
  text-decoration: none;
  color: $gray;
}

.icon-disabled {
  text-decoration: none;
  color: #b4b4b4;
  opacity: 0.5;
}

.tabs{
  h4 {
    text-decoration: none !important;
    color: $black;
  }
  a {
    text-decoration: none !important;
  }
  h4 {
    padding: 5px 10px;
  }
}
.active-tab {
  h4 {
    border-top: 5px solid $yellow;
    color: $black;
  }
}

.accept_reject_container {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  width: 100%;
  i {
    font-size: 30px;
  }
  p{
    font-size: larger;
    text-align: center;
    width: max-content;
  }
}

.buttons_reviews_container{
  display: flex;
  justify-content: space-between;
  i {
    font-size: 30px;
  }
  width: 100%;
}

.deny_button_review {
  border: 1px solid $red;
  border-radius: 100px;
  background-color: $red;
  padding: 5px 10px;
  text-decoration: none !important;
  color: white
}

.accept_button_review{
  a{
    text-decoration: none !important;
    color: white;
  }
}

.deny_button_review {
   a{
    text-decoration: none !important;
    color: white;
  }
}

.status_container_review {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  margin-right: 40px;
}

.heart-view {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  border: 0;
  background: $red;
  margin: 0 8px;
  text-align: center;
  color: white;
}

.times-view {
  border-radius: 50%;
  line-height: 50px;
  width: 50px;
  border: 0;
  background: $green;
  margin: 0 8px;
  text-align: center;
  color: white;
}
