.card-img-show {
  background-position: center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 40px 40px;
  box-shadow: #d6d6d6 0 0 8px;
}

.card-description-show {
  margin: 10px 20px;
}

.dog-description {
  margin: 10px 20px;
  text-align: center;
}

.basic-dog-info {
  h2 {
    margin: 20px 0;
  }
}

.match-buttons {
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: 8%;
  a:hover {
    text-decoration: none !important;
  }

}

.a-match {
  color: green;
  :hover {
    color: green !important;
  }
}

.r-match {
  color: red;
  :hover {
    color: red !important;
  }
}

.dog-card-show {
  margin-bottom: 90px;
}
