.card-img-show {
  background-position: center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 40px 40px;
  box-shadow: #d6d6d6 0 0 8px;
  h2 {
    color: white;
    position: absolute;
    top: 51%;
    left: 7%;
    text-shadow: black 0 0 1px;
  }
}

.card-description-show {
  margin: 10px 20px;
}

.dog-description {
  margin-top: 20px;
  text-align: left;
  color: #303030;
}

.basic-dog-info {
  margin-top: 24px;
  h5 {
    font-size: 16px;
    color: #606060;
  }
}

.match-buttons {
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: 8%;
  a:hover {
    text-decoration: none !important;
  }

}

.a-match {
  color: rgba(238, 83, 122, 0.747);
  :hover {
    color: rgba(238, 83, 122, 0.747) !important;
  }
}

.r-match {
  color: #55D1C2;
  :hover {
    color: #55D1C2 !important;
  }
}

.dog-card-show {
  margin-bottom: 90px;
}
