<div class="tinder">
  <div class="tinder--status">
    <i class="fas fa-times"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <% @dogs.each do |dog| %>
      <div class="tinder--card">
        <img src='<%= cl_image_path(dog.photo.key)%>'>
        <h3><%= dog.name %></h3>
        <p><%= dog.address %></p>
      </div>
      <div class="tinder--buttons">
        <button id="nope"><i class="fas fa-times"></i></button>
          <%= link_to matches_path(authenticity_token: form_authenticity_token, match: { matching_dog_id: current_user.dogs.first, matched_dog_id: dog.id, status: Match::STATUS[0]}), class: "a-match", id: "love", method: :post do %>
            <i class="fa fa-heart"></i>
          <% end %>
      </div>
    <% end %>
  </div>

</div>
