<h1>Dogs#index</h1>
<p>Find me in app/views/dogs/index.html.erb</p>
<% if @dogs.empty? %>
  <p>There're no available matches</p>
<% else %>
  <ul>
    <% @dogs.each do |d| %>
      <li><%= link_to d.name, dog_path(d) %></li>
    <% end %>
  </ul>
<% end %>


<% if current_user  %>
  <%= link_to("go to profile page", edit_user_registration_path)  %>
<% end %>
