<div class="bottom-bar">
  <div class="nav-icon">
    <%= link_to edit_user_registration_path, class: "dashboard-icon" do %>
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Avatar" class="avatar-user">
    <% end %>
    <div class="middle-icon">
      <%= link_to dogs_path, class: "matches-page-icon" do %>
      <i class="fas fa-paw"></i>
      <% end %>
    </div>
    <%= link_to matches_path, class: "chat-page-icon" do %>
    <i class="far fa-comment"></i>
    <% end %>
  </div>
</div>
