<div id="bg_home">
  <div class="banner">
  <h1>Match-a-Doggo</h1>
  <p>We make<strong>your match</strong> and let the <strong>dogs do the rest</strong><strong></strong>!</p>
  </div>
  <div id="btn_landing">
    <%= link_to 'Get Started', dogs_path, class: "btn_start" %>
  </div>
