<% content_for :title, "MatchADoggo - We make your match and let the dogs do the rest" %>
<div id="bg_home">
  <div class="banner">
  <h1>Match-a-Doggo</h1>
  <p>We make <strong>your match</strong> and let the <strong>dogs do the rest</strong><strong></strong>!</p>
  </div>
  <div id="btn_landing">
  <% if current_user %>
    <%= link_to 'Get Started', dogs_profile_path(current_user), class: "btn_start" %>
  <% else %>
    <%= link_to 'Log in',  new_user_session_path, class: "btn_start"  %>
    <%= link_to 'Sign up',  new_user_registration_path, class: "btn_start"  %>
  <% end %>
  </div>
