<div id="bg_home">
  <div class="banner">
  <h1>Match-a-Doggo</h1>
  <p>The <strong>best app</strong> where you can find a <strong>Paw Mate</strong> to your <strong>Paw Friends</strong>!</p>
  </div>
  <div id="btn_landing">
    <%= link_to 'Get Started', '#', class: "btn_start" %>
  </div>
