.dashboard-icon {
  color:grey;
}

.dashboard-icon:hover {
  color:red;
  text-decoration: none
}

.matches-page-icon {
  color: white;
  transform: rotate(323deg);

}

.matches-page-icon:hover {
  text-decoration: none
}

.chat-page-icon {
  color: grey;
}

.chat-page-icon:hover {
  color:red;
  text-decoration: none
}
