.dashboard-icon {
  color:grey;
}

.dashboard-icon:hover {
  color:red;
  text-decoration: none
}

.matches-page-icon {
  color: white;
  transform: rotate(323deg);

}

.matches-page-icon:hover {
  text-decoration: none
}

.chat-page-icon {
  color: grey;
}

.chat-page-icon:hover {
  color:red;
  text-decoration: none
}

.sessions {
  position: absolute;
  bottom: 9%;
  right: 12px;
  color: white;
  text-shadow: black 0 0 2px;
  font-size: 20px;
}
