.bottom-bar {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 50px;
}

.nav-icon {
  justify-content: space-around;
  display: flex;
  font-size: 34px;
  a {
  color: #9aa4b1
  }
}

.active-icon {
  i {
    color: rgba(243, 191, 93, 0.712);
  }
}

.notification-r {
  position: absolute;
  bottom: 30px;
  right: 25px;
  background-color: #fa4747;
  border-radius: 50%;
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  p {
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: bolder;
  }
}

// .middle-icon {
//   width: 60px;
//   height: 60px;
//   background: #F8CB75;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   border-radius: 50%;
//   position: absolute;
//   top: -25px;
//   i:hover{
//     color: white !important;
//   }
// }

// .avatar-user {
//   vertical-align: middle;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
// }

// .avatar-logo {
//   width: 60px;
//   height: 60px;
//   border-radius: 50%;
//   object-fit: cover;
//   vertical-align: unset;
// }
