.bottom-bar {
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 50px;
}

.nav-icon {
  justify-content: space-around;
  display: flex;
  font-size: 34px;
}

.middle-icon {
  width: 60px;
  height: 60px;
  background: #F8CB75;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: -25px
}

.avatar-user {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
